{% extends "base_generic.html" %}

{% block content %}
	<div class="container text-center">
	<h1>{{ option }}</h1>
	<form action="{% url 'index' %}" method="post">
		{% csrf_token %}
		{{ form }}
		<input type="submit" class="btn btn-primary" value="Run">
	</form>
	<pre>{% if result.time_taken or result.time_taken == 0 %}Time taken: {{ result.time_taken }} {% endif %} {% if result.output %}Result: {{ result.output }}{% endif %}
	</pre>
	</div>	
{% endblock %}

{% comment %} {% block javascript %}
<script type="text/javascript">
	document.getElementById('form').addEventListener('submit', evt => {
		evt.preventDefault();
		const form = new FormData(evt.target).entries();
		const json = Object.assign(...Array.from(form, ([x,y]) => ({[x]:y})));
		console.log(json);
		fetch('{% url 'result' %}', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'Accept': 'application/json',
				'X-CSRFToken': '{{ csrf_token }}'
			},
			body: JSON.stringify(json)
		})
		.then(res => res.json())
		.then(res => console.log(res))
	})
</script>
{% endblock %} {% endcomment %}
