{% extends "base_generic.html" %}

{% load string_filters %}
{% block content %}
	<h1 class="text-center">{{ option|unhyphenize|upper }}</h1>
	<hr/>
	<div class="d-flex text-center justify-content-between flex-wrap">
		<div class="mx-auto">
			<h3 class=""> Input </h3>
			<hr/>
			<form class="" action="{% url 'index' option=option%}" method="post">
				{% csrf_token %}
				{{ form }}
				<input onclick="document.getElementById('loading').innerText = 'Loading...'" type="submit" class="btn btn-primary" value="Run">
			</form>
			<div id="loading"></div>
		</div>
		<div class="mb-5 mx-auto">
			<h3> Graph </h3>
			<hr/>
			{% if result.graph %}
				<img src="data:image/gif;base64,{{ result.graph }}"/>
			{% endif %}
		</div>
		<div class="mx-auto">
			<h3>Output</h3>
			<hr/>
			<pre class="text-start w-100">{{ result.output }}</pre>
		</div>
	</div>	
{% endblock %}

{% comment %} {% block javascript %}
<script type="text/javascript">
	document.getElementById('form').addEventListener('submit', evt => {
		evt.preventDefault();
		const form = new FormData(evt.target).entries();
		const json = Object.assign(...Array.from(form, ([x,y]) => ({[x]:y})));
		console.log(json);
		fetch('{% url 'result' %}', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'Accept': 'application/json',
				'X-CSRFToken': '{{ csrf_token }}'
			},
			body: JSON.stringify(json)
		})
		.then(res => res.json())
		.then(res => console.log(res))
	})
</script>
{% endblock %} {% endcomment %}
